.config/
.env
package-lock.json
yarn.lock
pnpm-lock.yaml
lerna-debug.log*    
node_modules/
dist/
build/
coverage/
logs/
*.log
*.tsbuildinfo
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
*.env
*.env.local
*.env.development
*.env.test
*.env.production    
